* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em 0;
  border: 1px solid black;
}
.header .logo {
  margin-right: 1.2em;
}
