* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
}
body {
  background-color: #fafaf8;
  line-height: 1.5;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5em 0;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
}
.header .logo {
  margin-right: 1.2em;
}
.header .logo img {
  max-width: 45px;
}
.header .title h2 {
  font-weight: 400;
  font-size: 32px;
}

.main-container {
  max-width: 720px;
  width: calc(596 / 720 * 100%);
  margin: 0 auto;
  padding: 1.5em 0em;
}
/* Form styling for add ingredient form */

.add-ingredient-form {
  padding: 3em 0;
  width: 100%;
}

.add-ingredient-form .form-group {
  display: flex;
  justify-content: stretch;
  align-items: center;
  gap: 12px;
  width: 100%;
}

.add-ingredient-form .form-group input {
  padding: 0.75em 1.875em;
  flex: 2;
  border-radius: 6px;
}

.add-ingredient-form .form-group button {
  padding: 0.75em 1.875em;
  flex: 1;
  border-radius: 6px;
  background-color: black;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  border: 1px solid #d1d5db;
}
